.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 600 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
