body {
  background-color: white;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Montserrat', sans-serif;
}

h1 {
  /*top, right, bottom, left/ use this margin setting if you are specifying width and want to center element*/
  margin: 50px auto 0 auto;
  font-family: 'Architects Daughter', cursive;
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Pacifico', cursive;
  font-family: 'Questrial', sans-serif;
  font-family: 'Sansita Swashed', cursive; */
  /* font-family: 'Satisfy', cursive; */
  font-size: 5.62em; /*100% = 16px, 1em = 16px - Dynamic sizing  rem will override parent settings*/
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.50rem;
  font-weight: normal;
  margin: 0 auto 0 auto;
  padding-top: 30px;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
    color: #11999E;
}

div {
  height: auto;
  position:relative;
  margin:0;
}

hr {
  width: 20%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;
}

.top-container span {
  text-decoration: underline;
  line-height: 2;
}

.middle-container{
  height: auto;

}

.profile {
  padding: 50px 0 50px 0;
  width: 30%;
  margin: 0 auto 0 auto;
}

.skills {
  height: auto;
  padding: 0 0 50px 0;
}

.skills-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-icons {
  height: 40px;

  padding: 0 20px 0 20px;
}

.icons-div {
  float:right;
}

.skills2-img {
  width: 25%;
  float: right;
  margin-left: 30px;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/* .skill-description {
  clear: left;
} */

/* .skill-two-description {
  clear: right;
} */

.icon-description {
  font-size: 8px;
  clear: left;
}

.contact-me {
  padding: 50px 0 50px 0;
}

.button {
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  margin: 10px 0 10px 0;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #11999E;
}

.example-button{
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  margin: 0 auto 0 auto;
  float: right;
}

.example-button:hover {
  cursor: pointer;
  color: white;
  background-color: #11999E;
}

.button2 {
  width: 270px;
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  margin: 10px 0 10px 0;
}
.bottom-container{
  background-color: #11999E;
  margin: 0 auto 0 auto;
  text-align: center;
  height: auto;
  padding: 50px 0 50px 0;
}

.bottom-container img {
  height: 40px;
  width: 40px;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
}

.bottom-container a {
  color: white;
  text-decoration: none;
}

.bottom-container p {
  color: white;
}

.top-cloud {
  position: relative;
  left: 200px;
  margin-top: 50px;
}

.bottom-cloud {
  position: absolute;
}

.mountain {
  top: 20px;
}

video {
  margin-top: 40px;
}

.row img{
    /* height: 20%; */
    width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

table {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.td-style {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
